@charset "UTF-8";
*{margin:0px;
padding:0px;
font-family: Arial, Helvetica, sans-serif;}

body>header {
    background-color: rgb(4, 4, 206);
    color:white;
    height:250px;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
}

#wapp {
    text-decoration: none;
    color:white;
    background-color: rgb(13, 153, 13);
    padding:20px;
}

body>main>h1 {
    margin-top: 25px;
    text-align: center;
    font-size: 1.6em;
}
body>main>div {
    text-align: justify;
    margin:5px 20px;
    text-indent: 10px;
}

main>h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

main>ul {
    margin: 5px 25px;
}

footer{
    margin:40px 0px;
}

footer>ul{
    margin:10px 30px;
    
}
footer>div {
    text-align: center;
    font-size: 2em;
}