@charset "UTF-8";
*{margin:0px;
padding:0px;
font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* -------------------- INICIO CABEÇALHO ------------------- */

body>header {
    background-image: linear-gradient(to bottom, 
    rgb(6, 42, 115),
    rgb(5, 30, 90),
    rgb(2, 21, 70),
    rgb(1, 12, 65)
    );
}   

body>header>content{
    display: flex;
    justify-content: center;
}

body>header>content>img {
    width: 390px;
    height:390px;
    margin-top: -120px;
}
body>header>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    color: white;
    margin-top: -80px;
    margin-bottom: 20px;
    text-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.478);
}
body>header>.objetivo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1.5px 1.5px 2px rgba(0, 0, 0, 0.534);

}

body>header>.objetivo>article {
    color: rgb(212, 212, 212);
    margin-left: 12px;
    max-width: 600px;
    margin-right: 10px;
}
/* ----------- BOTAO WHATSAPP ---------------- */
body>header>.wapp{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

body>header>.wapp>a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    padding: 15px 9px 15px 30px;
    background-color: rgb(116, 195, 116);
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.512);
    border-radius: 4px;
    position: relative;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.407);
    font-weight: bold;
    font-size: 15px;

}
body>header>.wapp>a>img {
    width: 25px;
    position: absolute;
    transform: translate(-50% -50%);
    top: 23%;
    left: 1%;
}
/* --------------- FIM BOTAO WHATSAPP --------------- */
body>header>div {
    display: flex;
    align-items: end;
    justify-content: end;
    color: white;
    margin-top: 20px;
    position: relative;
}
body>header>div>img {
    width: 200px;
    margin-right: 6px;
}
body>header>div>ul {
    position: absolute;
    transform: translate(-50% -50%);
    top:20%;
    left:10%;
    list-style-type: none;
    text-shadow: 2.5px 2.5px 4px rgba(0, 0, 0, 0.459);
}
body>header>div>ul>li {
    margin-top: 6px;
}
body>header>div>ul>.insta {
    margin-top:10px;
    position: relative;
    margin-left: 28px;
}
body>header>div>ul>.insta>img {
    width: 35px;
    position: absolute;
    transform: translate(-50% -50%);
    top: -65%;
    left: -22%;

}

/* ------------------  FIM CABEÇALHO   ------------------- */

body>main {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.398) inset;
    padding-bottom: 30px;
    background-image: url(../imagens/fundomarmore5.jpeg);
}

body>main>h2 {
    text-align: center;
   margin-bottom: 15px;
}

body>main>h3{
    text-align: center;
    margin-top: 5px;
}

/* ---------------------LISTAS-------------------------- */
body>main>ul>h3{
  text-align: center;
  padding: 10px 0px 15px 0px;
}

body>main>ul{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    list-style-type: square;
    margin:25px 10px 25px 10px;
    background-color: rgba(135, 129, 129, 0.171);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.341);

}

body>main>ul>li{
    margin:0.9px 0px 0.9px 0px;

}
    
/* --------------------FIM LISTAS---------------------------- */


/* -------------------   INICIO RODAPÉ   ------------------- */

footer {
    background-image: linear-gradient(to top, rgb(6, 42, 115), rgb(2, 15, 39));
    color: white;
}

footer>h3 {
    text-align: center;
    padding-top: 20px;
}

footer>main>ul {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

footer>main>ul>li{
    margin: 1.5px;
}
footer>div {
    margin-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    
}

footer>form{
    display: flex;
    flex-direction: column;
    margin-top: 20px; 
    align-items: center; 
}

footer>form>input{
    margin-top: 15px;
    width:100px;
    height: 25px;
    border: none;
    border-radius: 3px;
}

/* -------------   FIM RODAPÈ  --------------------- */


